@page "/forgot-password"
@inject HttpClient Http
@inject NavigationManager manager

<h3>Forgot Password</h3>

@if (!string.IsNullOrEmpty(Message))
{
    <p>@Message</p>
}

<input @bind="Email" placeholder="Enter your email" />
<button @onclick="SendResetLink">Send Reset Link</button>

@code {
    string Email;
    string Message;

    private async Task SendResetLink()
    {
        var model = new
        {
            Email
          
        };

        var res = await Http.PostAsJsonAsync("api/auth/forgot-password", model);
        Message = "If the email exists, a reset link has been sent.";
    }
}
