@page "/reset-password"

@inject NavigationManager Nav
@inject HttpClient Http
@using Microsoft.AspNetCore.WebUtilities

<h3>Reset Password</h3>

@if (!string.IsNullOrWhiteSpace(Message))
{
    <p>@Message</p>
}

<input @bind="Password" placeholder="New Password" type="password" />
<button @onclick="ResetPasswordMethod">Reset</button>

@code {
    string Email;
    string Token;
    string Password;
    string Message;

    protected override void OnInitialized()
    {
        var uri = Nav.ToAbsoluteUri(Nav.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        Email = query["email"];
        Token = query["token"];
    }

    private async Task ResetPasswordMethod()
    {
        var model = new
        {
            Email,
            Token,
            NewPassword = Password
        };

        var res = await Http.PostAsJsonAsync("api/auth/reset-password", model);

        if (res.IsSuccessStatusCode)
            Message = "Your password has been reset!";
        else
            Message = "Failed to reset password.";
    }
}
