@using EmployeeManagmentClient.Services
@inject HttpClient Http
@inject IpServices IpService
@inject ApiClient Api




    <p>@ipAddress</p>


@code {
    private string ipAddress;
    private string ipAddress2;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await Api.GetAsync<IpResponse>("api/ip/getuserip");
            ipAddress = result?.IpAddress ?? "Unable to retrieve IP";
            // ipAddress = await IpService.GetPublicIpAsync();
           // ipAddress = await IpService.GetPublicIpAsync();
        }
        catch
        {
            ipAddress = "Unable to retrieve IP";
        }
    }

    private class IpResponse
    {
        public string IpAddress { get; set; }
    }
}
